In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']

In [2]:
bicycles

['trek', 'cannondale', 'redline', 'specialized']

In [3]:
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [4]:
print(bicycles[0])

trek

In [5]:
bicycles

['trek', 'cannondale', 'redline', 'specialized']

In [6]:
print(bicycles[0].title())

Trek

In [7]:
print(bicycles[1])
print(bicycles[2])

cannondale
redline

In [8]:
print(bicycles[-1])

specialized

In [9]:
message = f"My first bicycles was a {bicycles[0]}."

In [10]:
print(message)

My first bicycles was a trek.

In [11]:
motorcycles = ['honda','yamaha','suzuki','hero','tvs']

In [12]:
motorcycles

['honda', 'yamaha', 'suzuki', 'hero', 'tvs']

In [13]:
motorcycles[0]

'honda'

In [14]:
motorcycles[3]

'hero'

In [15]:
motorcycles[2]

'suzuki'

In [16]:
motorcycles[0] = 'ducati'

In [17]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'hero', 'tvs']

In [18]:
motorcycles.append('honda')

In [19]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'hero', 'tvs', 'honda']

In [20]:
motorcycles.insert(3,'ola')

In [21]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'ola', 'hero', 'tvs', 'honda']

In [22]:
del motorcycles[0]

In [23]:
motorcycles

['yamaha', 'suzuki', 'ola', 'hero', 'tvs', 'honda']

In [24]:
motorcycles.insert(0,'ducati')

In [25]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'ola', 'hero', 'tvs', 'honda']

In [26]:
popped_motorcycles = motorcycles.pop()

In [27]:
popped_motorcycles

'honda'

In [28]:
last_owned = motorcycles.pop()

In [29]:
print(f"The last mototrcycles I owned was a {last_owned}")

The last mototrcycles I owned was a tvs

In [30]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'ola', 'hero']

In [31]:
popped_motorcycles

'honda'

In [32]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'ola', 'hero']

In [33]:
motorcycles.remove('ducati')

In [34]:
motorcycles

['yamaha', 'suzuki', 'ola', 'hero']

In [35]:
motorcycles.insert(0,'ducati')

In [36]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'ola', 'hero']

In [37]:
cars = ['bmw','audi','toyota','subaru']

In [38]:
cars.sort()
cars

['audi', 'bmw', 'subaru', 'toyota']

In [39]:
cars.sort(reverse=True)

In [40]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [41]:
print('Here is the orignal list:')
print(cars)

Here is the orignal list:
['toyota', 'subaru', 'bmw', 'audi']

In [42]:
print('\nHere is the sorted list:')
print(sorted(cars))

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

In [43]:
print('\nHere is the original list again:')
print(cars)

Here is the original list again:
['toyota', 'subaru', 'bmw', 'audi']

In [44]:
len(cars)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [45]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [46]:
len(cars)

4

In [47]:
magicians = ['alice','david','carloina']
for magician in magicians:
    print(magician)

alice
david
carloina

In [48]:
magicians = ['alice','david','carloina']
for magician in magicians:
    print(f"{magician}, that was a great trick!")

alice, that was a great trick!
david, that was a great trick!
carloina, that was a great trick!

In [49]:
magicians = ['alice','david','carloina']
for magician in magicians:
    print(f"{magician}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician}.\n")

alice, that was a great trick!
I can't wait to see your next trick, alice.

david, that was a great trick!
I can't wait to see your next trick, david.

carloina, that was a great trick!
I can't wait to see your next trick, carloina.

In [50]:
magicians = ['alice','david','carloina']
for magician in magicians:
    print(f"{magician}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician}.\n")

print("Thank you, everyone. That was a great magic show!")

alice, that was a great trick!
I can't wait to see your next trick, alice.

david, that was a great trick!
I can't wait to see your next trick, david.

carloina, that was a great trick!
I can't wait to see your next trick, carloina.

Thank you, everyone. That was a great magic show!

In [52]:
for value in range(1,5):
 print(value)

1
2
3
4

In [54]:
for value in range(1,6):
 print(value)

1
2
3
4
5

In [55]:
number = list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [56]:
even_number = list(range(2,11,2))
print(even_number)

[2, 4, 6, 8, 10]

In [57]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
squares = []
for value in range(1,11):
    squares.append(value**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
digit = [1,2,3,4,5,6,7,8,9,0]
min(digit)

0

In [60]:
max(digit)

9

In [61]:
sum(digit)

45

In [62]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
players = ['charles','martina','michael','florence','eli']
players[0:3]

['charles', 'martina', 'michael']

In [64]:
players[1:4]

['martina', 'michael', 'florence']

In [65]:
players[:4]

['charles', 'martina', 'michael', 'florence']

In [66]:
players[2:]

['michael', 'florence', 'eli']

In [67]:
players[-3:]

['michael', 'florence', 'eli']

In [68]:
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player)

Here are the first three players on my team:
charles
martina
michael

In [69]:
my_food = ['pizza','falafel','carrot cake']
friend_food = my_food[:]

print("My favorite foods are:")
print(my_food)

print("\nMy friend's favorite foods are:")
print(friend_food)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [70]:
my_food.append('cannoli')
friend_food.append('ice cream')

In [71]:
my_food
friend_food

['pizza', 'falafel', 'carrot cake', 'ice cream']

In [72]:
my_food = ['pizza','falafel','carrot cake']
friend_food = my_food[:]

my_food.append('cannoli')
friend_food.append('ice cream')

print("My favorite foods are:")
print(my_food)

print("\nMy friend's favorite foods are:")
print(friend_food)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']